<!doctype html>
<html style="height: 100%" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <title>Candidate</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <!-- main css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
</head>
<body style="height: 100% ; text-align: center"  >


<div class="container" style="height: 100%; display: inline-block" >
<div class="row" style="height: 100%">
    <div class="col col-lg-6">
        <div class="card" style="height: 60%">

            <div class="card-body">

            </div>
        </div>
    </div>
    <div class=" col col-lg-3">
        <div id="image_container" class="card"  style="height: 60%">

            <div class="card-body">
                <span  style="text-align: center;display: block"> <img src="/images/add_img.png" alt=""></span>
            </div>
        </div>
    </div>
</div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/timezz.js"></script>
<script type="application/javascript">
    new TimezZ('.demo', {
        date: 'Jan 01, 2020 00:00:00',
        daysName: ':',
        hoursName: ':',
        minutesName: ':',
        secondsName: ':',
        numberTag: 'span',
        letterTag: 'i',
        stop: false, // stop the countdown timer?
    });
</script>
<script src="/javascripts/popper.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/stellar.js"></script>
<script src="/vendor/lightbox/simpleLightbox.min.js"></script>
<script src="/vendor/nice-select/js/jquery.nice-select.min.js"></script>
<script src="/vendor/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/vendor/isotope/isotope-min.js"></script>
<script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
<script src="/javascripts/jquery.ajaxchimp.min.js"></script>
<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="/javascripts/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="/javascripts/gmaps.min.js"></script>
<script src="/javascripts/theme.js"></script>
</body>
</html>