<html>
<body>
<head>
    <link href="../assets/css/login.css" rel="stylesheet" />
</head>
<form enctype="multipart/form-data" id="upload" runat="server" method="post" action="/candidates/imageUpload">
<input type="file" hidden id="uploadImage">
</form>
<div class="container right-panel-active" id="container">
    <div class="form-container sign-up-container" id="imageSide">
<!--        style="text-align: center;height: 100%"-->
        <div class="ovelay-panel" style="height: 100%;width: 100%">
            <img style="width: inherit" src="../images/add_photo.png" alt="" id="candidateImage">
        </div>
    </div>
<!--    <div class="overlay-container">-->
<!--        asdasdasda-->
<!--    </div>-->
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Manifesto!</h1>
                <p>Grab your potential voters attention by ketting them know your vision</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
<!--            <div class="overlay-panel overlay-right">-->
<!--                <h1>Hello, Friend!</h1>-->
<!--                <p>Enter your personal details and start journey with us</p>-->
<!--                <button class="" id="signUp">Sign Up</button>-->
<!--            </div>-->
        </div>
    </div>
</div>

<!--<footer>-->
<!--    <p>-->
<!--        Created with <i class="fa fa-heart"></i> by-->
<!--        <a target="_blank" href="https://florin-pop.com">Florin Pop</a>-->
<!--        - Read how I created this and how you can join the challenge-->
<!--        <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.-->
<!--    </p>-->
<!--</footer>-->
<script src="../assets/js/core/jquery.min.js"></script>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#candidateImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        //    start upload
            $("#upload").trigger("submit")

        }
    }

    $("#uploadImage").change(function() {
        readURL(this);
    });
    $("#imageSide").on("click",function () {
        $("#uploadImage").trigger('click')
    })

</script>
</body>
</html>